.navbar {
    background-color: black;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
}

.container-left{
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.container-left span {
    padding-bottom: 20px;
    padding-top: 18px;
    font-size: 12px;
    font-family: 'Cerebri Sans Pro', sans-serif;
}

.email-png{
    padding-right: 10px;
}

.bar {
    padding-right: 20px;
    padding-left: 20px;
}

.container-right{
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.container-right span {
    padding-bottom: 20px;
    padding-top: 18px;
    font-size: 12px;
    font-family: 'Cerebri Sans Pro', sans-serif;
}

.icons-right {
    display: flex;
    justify-content: space-between;
}

.icons-right > img {
    padding: 0 10px;
}

.login {

    padding-left: 10px;
}

.english-span {
    padding-right: 10px;
}