
.container-hamburger-menu {
    display: flex;
    justify-content: space-around;
    width: 270px;
    height: 50px;
    margin-left: 360px;
    background-color: #7FAD39;
}

.title-All {
    height: 13px;
    margin-top: 25px;
    font-family: 'Cerebri Sans Pro';
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    margin-left: -30px;
    display: flex;
    align-items: center;
}

/*Hamburger menu*/
.icon-item-hamburger {
    margin-top: 15px;
    margin-left: -5px;
}

.item-hamburger {
    cursor: pointer;
    width: 18px;
    height: 3px;
    background-color: #ffffff;
    padding-top: 3px;
    margin-top: 3px;
    transition: 1s;
}

.item-hamburger-Active .item-hamburger {
    background-color: #2A2A2A;
    transform: scale(1.2);
    transition: 1s;
}


/*-----------------------*/
.container-direction {
    margin-top: 10px;
    margin-left: -30px;
}

.item-direction {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: 1s;

}

.item-direction-Active {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    transition: 1s;

}