
.input-navbar-search{
    display: flex;
    justify-content: space-around;
    margin-top: -178px;
    width: 900px;
    margin-left: 665px;
    padding-top: 127px;
}

.iii{
    margin-left: -10px;
}

